html{
    scroll-behatesxtvior: smooth;
}

body{
    background-color: #121212;
    scroll-behavior: smooth;
}

a{
    color: #00B2FF;
}

#navicon{
    margin-left: 1em;
}

.fullscreen-container {
    display: grid;
    min-height: 100vh;
    place-content: center;
    max-width: 56rem;
    margin: auto;
}

.text-2x1{
    font-size: 2rem;
    line-height: 2;
}


.px-7{
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}

.text-justify{
    text-align: justify;
}

.mr-3{
    margin-right: 0.75rem;
}

.landing-buttons{
    margin-right: 0.75rem;
    border-color: #007bff;
    border-width: 0.2rem;
}

.skills-container{
    display: grid;
    max-width: 56rem;
    margin: auto;
    padding-bottom: 5rem;
}

.project-container{
    display: grid;
    max-width: 56rem;
    margin: auto;
    padding-bottom: 5rem;
}

.skill-inner{
    margin-bottom: 0.75rem;
}

.skill-text{
    display: flex;
    flex-direction: column;
}

.progress {
    background-color: #121212;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.exploring-inner{
    display: inline-flex;
}

.border-blue {
    --tw-border-opacity: 1 !important;
    border-color: #007bff !important;
    border-radius: .75rem !important;
}

.project{
    display: flex;
    flex-direction: row;
    border: 3px solid #007bff;
    border-radius: .75rem;
    overflow: hidden;
    margin-bottom: 2rem;
}

.img-container{
    width: 30%;
    overflow: hidden;
}

.project-description{
    flex: 1;
    flex-direction: column;
    padding: 2rem;
}

.fitting-img{
    object-fit: none;
    height: 100%;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    width: 100%;   
}

.exploring-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;
}

.exploring-inner img{
    width: 150px;
    height: auto; 
    object-fit: cover;
}

